In [2]:
import pathlib

from flask import Flask
from flask_sqlalchemy import SQLAlchemy
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import Column, String, Float, Integer, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker

from config import db_username, db_password, aws_endpoint

## DB Connection for Flask App

In [3]:
app = Flask(__name__)

database = "nba-stats"
port = 5432

db_uri = f"postgresql://{db_username}:{db_password}@{aws_endpoint}:{port}/{database}"
app.config["SQLALCHEMY_DATABASE_URI"] = db_uri
db = SQLAlchemy(app)

'postgresql://postgres:postgres@host:port/nba-stats'

## DB Connection for Working in Python (Jupyter Notebooks)

### Connect to DB

In [4]:
database = "test"
port = 5432

db_uri = f"postgresql://{db_username}:{db_password}@{aws_endpoint}:{port}/{database}"
engine = create_engine(db_uri)

### Create a New Table in DB

In [6]:
base = declarative_base()

class Film(base):  
    __tablename__ = 'films'

    title = Column(String, primary_key=True)
    director = Column(String)
    year = Column(String)

Session = sessionmaker(engine)  
session = Session()

base.metadata.create_all(engine)

#### Add One Row of Data

In [26]:
# Add a row to the table by creating an instance of the Film class
s = Film(title='haha', director='me', year='1929')
session.add(s)
session.commit()

* Use the pandas DataFrame method `df.to_sql(name=<table_name_string>, con=engine)`
* Some other useful arguments:
    * `if_exists` with the following options:
        * `"replace"` - drop existing table of the same `name` and insert the new table.
        * `"append"` - insert new values into existing table

### `df.to_sql()` Example
#### Create Dummy DataFrames

In [25]:
example = [{'title':'a', 'director':'aaaa', 'year':'1000'}, {'title':'b', 'director':'bbbb', 'year':'2000'}, {'title':'c', 'director':'cccc', 'year':'3000'}]
example_df = pd.DataFrame(example)
print(example_df)

example2 = [{'title':'d', 'director':'dddd', 'year':'4000'}, {'title':'e', 'director':'eeee', 'year':'5000'}, {'title':'f', 'director':'ffff', 'year':'6000'}]
example2_df = pd.DataFrame(example2)
print("\n", example2_df)

  title director  year
0     a     aaaa  1000
1     b     bbbb  2000
2     c     cccc  3000

   title director  year
0     d     dddd  4000
1     e     eeee  5000
2     f     ffff  6000

#### Add the DataFrames to an Already Initialized But Empty Table (done in pgadmin or as a class above)

In [24]:
example_df.to_sql(name='films', con=engine, if_exists='replace', index=False)
example2_df.to_sql(name='films', con=engine, if_exists='append', index=False)

### Query the DB

In [38]:
results = session.query(Film)
for result in results:
    print(result.title)

a
b
c
d
e
f
haha